include ../config/config 
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //FAVICON
    link(rel="shortcut icon", href=`${favicon}`)
    //OPEN GRAPH
    meta(property="og:title" content=`${tituloRedes}`)
    meta(property="og:type" content="website")
    meta(property="og:url" content=`${urlWeb}`)
    meta(property="og:image" content=`${imgWeb}`)
    meta(property="og:description" content=`${descripccionRedes}`)
    //SCHEMA MARKUP FOR GOOGLE
    meta(itemprop="name" content=`${tituloRedes}`)
    meta(itemprop="description" content=`${descripccionRedes}`)
    meta(itemprop="image" content=`${imgWeb}`)
    //TWITTER CARD DATA
    meta(name="twitter:card" content=`${twitterCard}`)
    meta(name="twitter:site" content=`${urlWeb}`)
    meta(name="twitter:title" content=`${tituloRedes}`)
    meta(name="twitter:description" content=`${descripccionRedes}`)
    meta(name="twitter:image:src" content=`${imgWeb}`)
    //FONTAWESOME
    link(rel="stylesheet", href="assets/fontawesome/css/all.min.css")
    script(src="assets/fontawesome/js/all.min.js")
    //STYLE BASE
    link(rel="stylesheet", href="css/styles.css")
    title Document
    meta(name="description" content="content")
  body
    header.header
      .header__top.container
        a(href="#") INICIAR SESIÓN
        a(href="#") REGISTRATE
      .header__main
        figure.header__logo
          a(href="index.html")        
            img(src="assets/img/logo.png", alt="logo de fh peru")
        nav.header__nav
          ul.main-menu
            li.main-menu__item
              a(href="index.html") INICIO
            li.main-menu__item
              a(href="index.html") CONÓCENOS
            li.main-menu__item
              a(href="index.html") NUESTRO TRABAJO
            li.main-menu__item
              a(href="index.html") BLOG
            li.main-menu__item
              a(href="index.html") DONA
    main.main
      block main
    footer.footer
      .footer__container.container
    script(src="js/jquery.js")
    script(src="js/scripts-min.js")